/*-------------------------------Backgrouund------------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1446435210126-bfa18ee3b7a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}
body {
    background-color:#f9ffff;
    background: linear-gradient(0deg, rgba(1,32,41,1) 0%, rgba(1,43,55,1) 14%, rgba(1,89,113,1) 39%, rgba(1,89,113,1) 100%);
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
    font-family: 'Poppins', sans-serif;	
}
html {
	scroll-behavior: smooth;
}
/*-------------------------------Scrollbar------------------------------*/
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
::-webkit-scrollbar {
    height: 0px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    width: 10px;
}



/*------------------------------------------------Navbar-----------------------------------------------------------------------------*/
nav { 
	margin: 0;
	padding: 0;
	background-color: #1F2833;
    letter-spacing: 1px;
    width: 100%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 10;
}
.toggle,
[id^=drop] {
	display: none;
}

.mainmenu {
    right: 100%;
}
nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 0px;
	float: left;
	background-color: #1F2833;
	}

nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

nav a:hover { 
	background-color: #000000; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
    z-index: 4;
}
	
nav ul li:hover > ul {
	display:inherit;
    z-index: 4;
}
	
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 4;
}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
    z-index: 4;
}
li > a:only-child:after { content: ''; }


/* -----------------------------------Media Queries--------------------------------------------- */

@media all and (min-width : 768px) and (max-width: 1024px) {

	
	nav {
		margin: 0;

	}

	.toggle + a,
	.menu {
		display: none;
        
	}
	.toggle {
		display: block;
		background-color: #1F2833;
		padding:14px 20px;	
		color:#FFF;
		font-size:22px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}
	[id^=drop]:checked + ul {
		display: block;
	}
	nav ul li {
		display: block;
		width: 100%;
        
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}
    
	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
    	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;

    
	}
    .card{
        width: 1rem;
    }
    .foot p{
        opacity: 0;
    }
}
@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;

	}

	.toggle + a,
	.menu {
		display: none;

	}
	.toggle {
		display: block;
		background-color: #1F2833;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}
	[id^=drop]:checked + ul {
		display: block;
	}
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
    	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;

    
	}
    .card{
        width: 1rem;
    }
    .foot p{
        opacity: 0;
    }
}
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

/* ----Animal-------------------------------------------------------------------------------------------------- */
h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-top: 100px;
	text-align:center;
	font-size:600px;
	line-height: 70px;
    font-family: 'Poppins', sans-serif;	
}

p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #C5C6C7;
    text-align: left;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(185, 250, 255);
    text-decoration: none;
    font-size: 13px;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

#container {
	margin: 0 auto;
	max-width: 890px;
}




/* ----To Quiz--------------------------------------------------------------------------------------------------- */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0,0,0,0.7)),url(https://images.unsplash.com/photo-1572284795851-e2c9da37db05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
/* ------Animal (Dolphin)------ */
.dolphin-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.dolphin-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.dolphin{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.dolphin-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.dolphin-col h1{
    padding-top: 0;
    top: 10%;
}
.dolphin-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (Shark)------ */
.shark-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.shark-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.shark{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.shark-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.shark-col h1{
    padding-top: 0;
    top: 10%;
}
.shark-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (Turtle)------ */
.turtle-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.turtle-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.turtle{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.turtle-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.turtle-col h1{
    padding-top: 0;
    top: 10%;
}
.turtle-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (Octopus)------ */
.octopus-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.octopus-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.octopus{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.octopus-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.octopus-col h1{
    padding-top: 0;
    top: 10%;
}
.octopus-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (Jellyfish)------ */
.jellyfish-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.jellyfish-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.jellyfish{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.jellyfish-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.jellyfish-col h1{
    padding-top: 0;
    top: 10%;
}
.jellyfish-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (Whale)------ */
.whale-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.whale-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.whale{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.whale-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.whale-col h1{
    padding-top: 0;
    top: 10%;
}
.whale-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (Starfish)------ */
.starfish-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.starfish-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.starfish{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.starfish-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.starfish-col h1{
    padding-top: 0;
    top: 10%;
}
.starfish-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (viperfish)------ */
.viperfish-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.viperfish-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.viperfish{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.viperfish-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.viperfish-col h1{
    padding-top: 0;
    top: 10%;
}
.viperfish-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (vampire)------ */
.vampire-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.vampire-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.vampire{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.vampire-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.vampire-col h1{
    padding-top: 0;
    top: 10%;
}
.vampire-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (angler)------ */
.angler-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.angler-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.angler{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.angler-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.angler-col h1{
    padding-top: 0;
    top: 10%;
}
.angler-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (gulper)------ */
.gulper-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.gulper-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.gulper{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.gulper-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.gulper-col h1{
    padding-top: 0;
    top: 10%;
}
.gulper-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (dumbo)------ */
.dumbo-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
    
}
.dumbo-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.dumbo{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.dumbo-col{
    flex-basis: 48%;
    padding: 10px 2px;
    
}
.dumbo-col h1{
    padding-top: 0;
    top: 10%;
}
.dumbo-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (giant)------ */
.giant-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.giant-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.giant{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.giant-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.giant-col h1{
    padding-top: 0;
    top: 10%;
}
.giant-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (amphipods)------ */
.amphipods-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.amphipods-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.amphipods{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.amphipods-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.amphipods-col h1{
    padding-top: 0;
    top: 10%;
}
.amphipods-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
/* ------Animal (cusk)------ */
.cusk-col img{
    width: 100%;
    border-radius: 3%;
    transition:1s;
    flex-basis: 48%;
    padding: 10px 2px;
}
.cusk-col img:hover{
    transform: scale(1.1);
    z-index:2;
}
.cusk{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.cusk-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.cusk-col h1{
    padding-top: 0;
    top: 10%;
}
.cusk-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}


/* -----about us page---------------------------------------------------------------------- */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(15, 69, 119, 0.7)),url(https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-top: -1.535%;
    top: 0%;
    
}
.about-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.about-col img{
    position: relative;
    left: 25%;
    width: auto;
    height: 305px;
    justify-content: space-between;
}
h6{
    left: 35%;
    
}
.about-col h1{
    padding-top: 0;
    top: 10%;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}
@media (max-width: 700px){
    .sub-header{
        height: 80vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(15, 69, 119, 0.7)),url(https://images.unsplash.com/photo-1548266652-99cf27701ced?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
        margin-top: -10%;
        }
}
@media (max-width: 768px) {
    .about-col img {
        width: 300px;
        height : auto;
        left : 0%;
        position : relative;
    }
    h6 {
        opacity : 0;
    }
    .sub-header {
        height : 50vh;
    }
}
@media(max-width: 1024px) and (min-width: 768px){   
    .sub-header{
        height: 40vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(15, 69, 119, 0.7)),url(https://images.unsplash.com/photo-1548266652-99cf27701ced?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
        margin-top: -13%;
        }
    .sub-header p{
        color: #fff;
        top: 20%;
        position: relative;
        text-align: left;
        padding: 0 25%;
    }
}
.sub-header h1{
    color: #fff;
    top: 20%;
    position: relative;
}
.sub-header p{
    color: #fff;
    top: 20%;
    position: relative;
    text-align: center;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.about-col h1{
    padding-top: 0;
    top: 10%;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}

.red-btn{
    border: 1px solid #1791b6;
    background: transparent;
    color: rgb(135, 219, 240);
}
.about-btn{
    display: inline-block;
    text-decoration: none;
    color: #1791b6;
    border: 1px solid #1791b6;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.about-btn:hover{
    border: 1px solid #1791b6;
    background: #1791b6;
    color: #fff;
    transition: 1s;
}
.hero-btn{
    
    color: rgb(255, 255, 255);
}
.hero-btn:hover{
    color: rgb(223, 223, 223);
}
.app {
    text-decoration: none;
}
h6{
    text-align: center;
}
/*-----------------------------return top----------------------------------------------*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #1F2833; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: rgb(10, 91, 102); 
  }
  
