/* ----Background-------------------------------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1446435210126-bfa18ee3b7a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}
body {
    background-color:#f9ffff;
    background: #015971;
    background: linear-gradient(0deg, rgba(1,32,41,1) 0%, rgba(1,43,55,1) 14%, rgba(1,89,113,1) 39%, rgba(1,89,113,1) 100%);
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
    font-family: 'Poppins', sans-serif;	
    -webkit-font-smoothing: antialiased;
}
body,
html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#fixed {
    background: red;
    position: fixed;
    left:0;
    top: 0;
    width: 200px;
    height: 100%;
}

#content {
    background: blue;
    height: 3000px;
}
  
/* ----Prob Useless-------------------------------------------------------------------------------------------------- */
  section::after h{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
  }
  section h5 {
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }
/* ----Scroll down-------------------------------------------------------------------------------------------------- */
.demo a {
    position: absolute;
    bottom: 20px;
    left: 48.5%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
@media(max-width: 700px){
 .demo a{
     left: 44%;
 }
}

.demo a:hover {
    opacity: .5;
}
#section04 a {
    padding-top: 60px;
}
#section04 a span {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
@-webkit-keyframes sdb04 {
    0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb04 {
    0% {
    transform: rotate(-45deg) translate(0, 0);
    }
    20% {
    transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
    transform: rotate(-45deg) translate(0, 0);
    }
}  

/* ----Headers-------------------------------------------------------------------------------------------------- */
h1 {
    font-size: 60px;
    text-align: center;
    color: #FFF;
}	
    
h3 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFF;
}
    
h3 a {
    color: #FFF;
}



a {
	color: #FFF;
}

.foot h1 {
	margin-top: 10px;
	text-align:center;
	font-size:30px;
	line-height: 40px;
    font-family: 'Poppins', sans-serif;	
    position: relative;
    margin-bottom: -2%;
    margin-top: 2%;
    font-weight: lighter;
}

#container {
	margin: 0 auto;
	max-width: 890px;
}
p {
	text-align: center;
}
.foot p {
	text-align: left;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(240, 255, 255);
}
.text-box, p, h1 {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.text-box{
    position: absolute;
    text-align: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box p{
    color: #024355;
    font-size: 25px;
    line-height: 150%;
    
    
    text-align: center;
    
}

.text-box h1{
    color: #1F2833;
    font-family: 'Sniglet', cursive;
}

/*------------------------------------------------Navbar-----------------------------------------------------------------------------*/
nav { 
	margin: 0;
	padding: 0;
	background-color: #1F2833;
    letter-spacing: 1px;
    width: 100%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 10;
}
.toggle,
[id^=drop] {
	display: none;
}

.mainmenu {
    right: 100%;
}
nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 0px;
	float: left;
	background-color: #1F2833;
	}

nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

nav a:hover { 
	background-color: #000000; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
    z-index: 4;
}
	
nav ul li:hover > ul {
	display:inherit;
    z-index: 4;
}
	
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 4;
}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
    z-index: 4;
}
li > a:only-child:after { content: ''; }



/* -----------------------------------Media Queries--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;

	}

	.toggle + a,
	.menu {
		display: none;

	}
	.toggle {
		display: block;
		background-color: #1F2833;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}
	[id^=drop]:checked + ul {
		display: block;
	}
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
    	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;

    
	}
    .card{
        width: 1rem;
    }
    .foot p{
        opacity: 0;
    }
}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

/* ----Animal-------------------------------------------------------------------------------------------------- */


.feet p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: justify;
    color: #C5C6C7;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(185, 250, 255);
    text-decoration: none;
    font-size: 13px;
}
.animal-col:hover{
    box-shadow: 0 0 20px 0px rgba(220, 248, 255, 0.74);
}
.animal-col a{
    text-decoration: none;
    color: rgb(7, 0, 46);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.animal{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #000000;
}
.animal-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.animal-col h3{
    text-decoration: none;
}
.animal-col img{
    width: 100%;
    display: block;
}


/* ----CTA--------------------------------------------------------------------------------------------------- */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.unsplash.com/photo-1496196614460-48988a57fccf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}



/* -----about us page---------------------------------------------------------------------- */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(15, 69, 119, 0.7)),url(https://images.unsplash.com/photo-1496196614460-48988a57fccf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80 );
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub header h1{
    margin-top: 100px;
    color: #fff;
}
.sub-header h5{
    color: #fff;
    top: 50%;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 10px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
    top: 10%;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 20px;
}

.red-btn{
    border: 1px solid #1791b6;
    background: transparent;
    color: rgb(135, 219, 240);
}
.about-btn{
    display: inline-block;
    text-decoration: none;
    color: #1791b6;
    border: 1px solid #1791b6;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.about-btn:hover{
    border: 1px solid #1791b6;
    background: #1791b6;
    color: #fff;
    transition: 1s;
}
.container, .app {
    text-decoration: none;
}
/*Card------------------------------------------------------------------------------------------------------------------------------------*/


.container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container2{
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
}
.card-wrap:hover .card-info {
    transform: translateY(0); 
}
.card-wrap:hover .card-info p {
    opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}
.card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 1, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}
.card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 100px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}
  .card {
    position: relative;
    flex: 0 0 240px;
    width: 23em;
    height: 320px;
    max-height: auto;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-decoration: none;
}
  @media screen and (max-width: 700px) {
    .card {
       width: 15em;
    }
}
.card a {
    text-decoration: none;
    transition:0.1s;
    font-size: 25px;
}
.card a:hover{
    text-shadow: 10px 10px 10px #000000;
    color: rgb(192, 192, 192);
    transform: scale(1.1);
}
.card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}
.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-decoration: none;
    right: 6rem;
}
.card-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 20px;
}
.card-info * {
    position: relative;
    z-index: 1;
}
.card-info:after {
    content: "";
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 0;
    width: 1800px;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
  
.card-info h1 {
    font-family: 'Poppins', sans-serif;    
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
    text-decoration: none;
}


 /*-----------------------------Wave--------------------*/
  

  
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015971;
  }
  ::-webkit-scrollbar {
    height: 0px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    width: 10px;
    
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
  
.wave:nth-of-type(2) {
    top: -175px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}
  
  @-webkit-keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @-webkit-keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }



/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/*------------------ Clouds Animation---------------------*/

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}
.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* --OBJECTS ------------*/

.cloud {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top,  rgb(253, 253, 253) 5%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgb(255, 255, 255)), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  rgb(255, 255, 255) 5%,#ffffff 100%);
	background: -o-linear-gradient(top,  rgb(255, 255, 255) 5%,#ffffff 100%);
	background: -ms-linear-gradient(top,  rgb(255, 255, 255) 5%,#ffffff 100%);
	background: linear-gradient(top,  rgb(255, 255, 255) 5%,rgb(255, 255, 255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
    z-index: 3;
}

.cloud:after, .cloud:before {
    background: rgb(255, 255, 255);
	content: '';
	position: absolute;
	z-index: 3;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}


/*-----------------------------return top----------------------------------------------*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #1F2833; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  #myBtn:hover {
    background-color: rgb(10, 91, 102); 
  }



